.banner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column: 1/5;
  background: url("http://asset-americas.unileversolutions.com/content/dam/unilever/knorr_world/united_states_of_america/website/knorr_betterforyou_banner_2000x3000px-1983763-jpg.jpg.ulenscale.1320x742.jpg")
    center no-repeat;
  background-size: cover;
  height: 742px;
  place-items: center;
}

.banner-title {
  grid-column: 1/5;
  /* text-align: center; */
  color: #69dc9e;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 50px;
  margin: 15rem 0;
}

.catagory {
  grid-column: 1/5;
}

.catagory-items {
  text-align: center;
  border: none;
  border-radius: 0.3rem;
  background-color: #69dc9e;
}
.catagory-items:hover {
  background-color: bisque;
}

.hover-zoom:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.2s;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-image-size {
  width: 14rem;
  height: 14rem;
  margin: 0 -0.3rem;
}

.card-margin {
  width: 25rem;
  height: 25rem;
  margin: 0.3rem auto;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .card-margin {
    margin: auto;
  }
  .card-image-size {
    width: 11rem;
    height: 12rem;
    margin: 0 -0.3rem;
  }
}
@media only screen and (max-width: 768px) {
  .card-margin {
    margin: auto;
  }
}

 @media only screen and (max-width: 2561px) {
  .card-image-size{
    width: 100%;
    height: 100%;
    max-width: 15rem;
    max-height: 15rem;
  }
}

@media only screen and (max-width: 2305px) {
  .card-image-size{
    width: 100%;
    height: 100%;
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 1921px) {
  .card-image-size{
    width: 100%;
    height: 100%;
    width: 13rem;
    height: 13rem;
  }
}

@media only screen and (max-width: 1440px) {
  .card-image-size{
    width: 100%;
    height: 100%;
    width: 14rem;
    height: 14rem;
  }
}
@media only screen and (max-width: 1025px) {
  .card-image-size{
    width: 100%;
    height: 100%;
    width: 15rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 769px) {
  .card-image-size{
    width: 100%;
    height: 100%;
    width: 10.5rem;
    height: 10.5rem;
  }
}

@media only screen and (max-width: 426px) {
  .card-image-size{
    width: 100%;
    height: 100%;
    width: 15rem;
    height: 15rem;
  }
} 
