* {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  align-items: center;
  background-color: #eeee;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  margin-top: 0;
  padding: 1rem;
}

.Avatar-img {
  border-radius: 50%;
  width: 10rem;
  align-self: center;
  top: 30rem;
}

.profile-title  {
  font-size: 24px;
  font-weight: 500;
  background-color: #69DC9E;
  padding: 0;
  margin-bottom: 0;
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

